


  
<html>
        
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
        
            <title>Kuntovi</title>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
         
            <link rel="stylesheet" href="/style.css">
            
        </head>
      
        
        <body>
        
            <header>
                <div class="topmenu var1">
                    <ul>
                        <li>Závody</li>
                        <li>Myšlenky</li>
                        <li>Fotky</li>
                    </ul>
                </div>
                <div class="title">                     
                        <span class="white">Tak jsme pěkně zakufrovali</span>
                    </div>
                </header>
           
                <h3><%= message %></h3>
                <hr>
                <h2><%= error.status %></h2>
                <pre><%= error.stack %></pre>
        </body>
        
        </html>


