<i class="fa fa-bars w3-button w3-white w3-hide-large w3-xlarge w3-margin-left w3-margin-top" onclick="w3_open()"></i>
<a href="javascript:void(0)" class="w3-red w3-button w3-right w3-margin-top w3-margin-right" ng-click="saveArticle()">
    <i class="fa fa-save"></i>
</a>
<a href="javascript:void(0)" class="w3-yellow w3-button w3-right w3-margin-top w3-margin-right" ng-click="toggleAdvancedVisible()">
        <i class="fa fa-elipsis-v"></i>
    </a>
    
<div class="w3-container person">
    <form class="w3-container">
        <label class="w3-label">Název:</label>
        <input type="text" class="w3-input" ng-model="article.header.title" ng-disabled="article == null">
        <label class="w3-label" ng-show="advancedvisible">ID:</label>
        <input type="text" class="w3-input" ng-show="advancedvisible" ng-model="article.idbase" ng-disabled="article == null">
        <label class="w3-label">Souhrn:</label>
        <textarea class="w3-input" ng-model="article.header.summary" ng-disabled="article == null"></textarea>
        <label class="w3-label">Text:</label>
        <textarea class="w3-input" ng-model="article.body" style="width: 100%" ui-tinymce="tinymceOptions" ng-disabled="article == null"></textarea>
        <div class="checkboxes">
                <div><label class="w3-label">Publikováno:</label>&nbsp<input type="checkbox" class="w3-check" value="Publikováno" ng-model="article.published" ng-disabled="article == null"></div>
            <div class="categories">
                <button class="w3-button w3-blue" ng-click="setCategory('foto');" ng-class="{categorySelected: isCategorySet('foto') }">Foto</button>
                <button class="w3-button w3-blue" ng-click="setCategory('comp');" ng-class="{categorySelected: isCategorySet('comp') }">Závody</button>
                <button class="w3-button w3-blue" ng-click="setCategory('though');" ng-class="{categorySelected: isCategorySet('though') }" >Myšlenky</button>
            </div>
        </div>
        <label class="w3-label">Titulní foto:</label>
        <input id="file" type="file" class="w3-input" accept="image/*" custom-on-change="fotoSelected" ng-disabled="article == null">
        <div class="gallery">
            <div class="item">
                <div class="buttons" ng-show='showButtonsTitlePhoto()'><button class="w3-button w3-blue " ng-click="editTitlePhoto()"><span class="fa fa-pencil"></span></button></div>
                <img id="titlePhoto" ng-src="{{titlePhoto}}" style="max-width: 100%">
            </div>
        </div>
        <br>
        <label class="w3-label">Přidat do galerie:</label>
        <input id="fileg" type="file" class="w3-input" accept="image/*" custom-on-change="gallerySelected" multiple ng-disabled="article == null">
        <div class="gallery">
            <div class="item" ng-repeat="galit in gallery">
                <div class="buttons" ng-show='showButtonsPhoto(galit)'><button class="w3-button w3-blue " ng-click="editPhoto(galit)"><span class="fa fa-pencil"></span></button><button class="w3-button w3-blue " ng-click="deleteGalleryItem(galit)"><span class="fa fa-trash-o"></span></button></div>
                <img id="{{galit.doc._id}}" ng-src="{{galit.url}}" >
            </div>
        </div>

    </form>
</div>